:root{
    --colorPrimario: #565754;
    --background-Footer-Navbar:#333;
}
.footer-area{
    background-color: var(--background-Footer-Navbar);
    color: aliceblue;
}
.main-footer {
    padding: 50px;
    
}

.footer-social li:first-child {
    margin-left: 0px;
}

.footer-social li {
    float: left;
    margin-left: 10px;
}

.single-widget h3 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 1.4;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.lock {
    font-weight: bold;
    border-bottom: 2px solid var(--colorPrimario);
    width: 40px;
    height: 3px;
    margin-bottom: 10px;

}


.single-widget-description {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1;
    color: #666666;
}

.footer-section .footer-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px solid var(--colorPrimario);
    border: 2px solid var(--colorPrimario);
    border-radius: 15px;
    text-align: center;
}

.footer-section .footer-icon::after {
    content: ' \25CF';
    font-size: 10px;
    text-align: center;
    justify-content: center;
    width: 2px;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
    color: var(--colorPrimario);
}

li.footer-section {
    margin-bottom: 12px;
}

li.footer-section a:hover p,
li.footer-section a:focus p {
    color: #23527c;
}