body{
    
    font-family: georgia,times,serif;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

/*--Modal--------------------------------------------------------------------------------------*/
.modalg::backdrop{
    background-color: rgba(0, 0, 0, 0.55);
}
.modalg{
    max-width: 400px;
    border-radius: 10px;
}
/*--Fin Modal----------------------------------------------------------------------------------*/

/*--Registro-----------------------------------------------------------------------------------*/
.Registro{
   
    box-sizing: border-box;
    border-radius:10px ;
    margin:0px;
    padding: 30px;
    background-color: var(--colorPrimario);
    max-width: 500px;
    position: relative;
    top: 100px;
}
/*--Fin Registro-------------------------------------------------------------------------------*/