* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2a2b73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #577fc0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(234, 55%, 56%, 0.459), hsla(212, 45%, 52%, 0.664)), url(../img/1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(2, 45%, 52%, 0.358), hsla(213, 95%, 50%, 0.39)), url(../img/1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

        /* LOGO */
.Logo { 
     padding: 5px; 
     float: left; 
     width: 250px; 
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Quiénes somos */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #0a4c82df;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(177, 37, 199, 0.719);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(9, 74, 135, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clientes */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #113765b9;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgba(92, 142, 217, 0.952);
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #426ea4b9;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/*
* ==========================================
* CONTACT FORM STARTS
* ==========================================
*/

.contact{
    background: #f7f7f7;
  }
  
  .contact100-form{
      margin-top: 50px;
  }
  
    
  
    
    .container-contact100 {
      width: 100%;  
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background: transparent;
      position: relative;
      z-index: 1;
    }
    
    .contact100-map {
      position: absolute;
      z-index: -2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    
    .wrap-contact100 {
      width: 1170px;
      background: #fff;
      border-radius: 10px;
      padding: 82px 180px 33px 180px;
      position: relative;
      display: none;
    }
    
    .show-wrap-contact100 {
      visibility: visible;
      opacity: 1;
    }
    
    
    .contact100-form {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #fff;
      padding: 100px;
      padding-bottom: 68px;
    }
    
    .contact100-form-title h3{
        font-size: 15px;
        font-family: "Roboto";
        color: rgba(43,59,93,.3);
        font-weight: bold;
        line-height: 1.7;
        text-align: center;
        margin-top: 80px;
        letter-spacing: 6px;
        text-transform: uppercase;
      
    }
  
    .contact100-form-title h2{
        font-size: 70px;
        font-family: 'Righteous';
        color: rgb(68, 68, 68);
        line-height: 1;
        text-align: center;  
  }
    
    
    
    .wrap-input100 {
      width: 100%;
      position: relative;
      border-bottom: 2px solid #d9d9d9;
      padding-bottom: 13px;
      margin-bottom: 65px;
    }
    
    .rs1-wrap-input100 {
      width: calc((100% - 30px) / 2);
    }
    
    .label-input100 {
      font-family: "Roboto";
      font-size: 15px;
      color: #999999;
      line-height: 1.5;
      padding-left: 5px;
    }
    
    .input100 {
      display: block;
      width: 100%;
      background: transparent;
      font-family: "Roboto";
      font-size: 18px;
      color: #555555;
      line-height: 1.2;
      padding: 0 5px;
    }
    
    .focus-input100 {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    
    .focus-input100::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
    
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    
      background: rgb(66, 122, 161);
    }
    
    
    input.input100 {
      height: 40px;
    }
    
    
    textarea.input100 {
      min-height: 110px;
      padding-top: 9px;
      padding-bottom: 13px;
    }
    
    
    .input100:focus + .focus-input100::before {
      width: 100%;
    }
    
    .has-val.input100 + .focus-input100::before {
      width: 100%;
    }
    
    
  
    .container-contact100-form-btn {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin-top: -25px;
      justify-content: center;
    }
    
    .contact100-form-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      min-width: 160px;
      height: 50px;
      background-color: rgb(103, 148, 54);
      border-radius: 25px;
      font-family: 'Poppins';
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
    
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    
      box-shadow: 0px 0px 10px 0px rgba(17, 126, 236, 0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(17, 126, 236, 0.5);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(17, 126, 236, 0.5);
      -o-box-shadow: 0px 0px 10px 0px rgba(17, 126, 236, 0.5);
      -ms-box-shadow: 0px 0px 10px 0px rgba(17, 126, 236, 0.5);
    }
    
    .contact100-form-btn i {
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }
    
    .contact100-form-btn:hover {
      background-color: rgb(66, 122, 161);
      border-color: rgb(103, 148, 54);
      box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.5);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.5);
      -o-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.5);
      -ms-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.5);
    }
    
    .contact100-form-btn:hover i {
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px);
    }
    
    
    
    @media (max-width: 992px) {
      .wrap-contact100 {
        padding: 82px 80px 33px 80px;
      }
    }
    
    @media (max-width: 768px) {
      .rs1-wrap-input100 {
        width: 100%;
      }
    }
    
    @media (max-width: 576px) {
      .wrap-contact100 {
        padding: 82px 15px 33px 15px;
      }
    }
    
  
    
    .validate-input {
      position: relative;
    }
    
    .alert-validate::before {
      content: attr(data-validate);
      position: absolute;
      max-width: 70%;
      background-color: #fff;
      border: 1px solid #c80000;
      border-radius: 2px;
      padding: 4px 25px 4px 10px;
      top: 58%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 2px;
      pointer-events: none;
    
      font-family: 'Poppins';
      color: #c80000;
      font-size: 13px;
      line-height: 1.4;
      text-align: left;
    
      visibility: hidden;
      opacity: 0;
    
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }
    
    .alert-validate::after {
      content: "\f06a";
      font-family: FontAwesome;
      display: block;
      position: absolute;
      color: #c80000;
      font-size: 16px;
      top: 58%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 8px;
    }
    
    .alert-validate:hover:before {
      visibility: visible;
      opacity: 1;
    }
    
    @media (max-width: 992px) {
      .alert-validate::before {
        visibility: visible;
        opacity: 1;
      }
    }
    
    
  
    
    .contact100-more {
      font-family: 'Poppins';
      font-size: 14px;
      color: #999999;
      line-height: 1.5;
    }
    
    .contact100-more-highlight {
      color: #ff4b5a;
    }
    
  
    .contact100-btn-hide {
      color: #333333;
      font-size: 14px;
    
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #ececec;
      border-radius: 50%;
      top: -15px;
      right: -15px;
    
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }
    
    .contact100-btn-hide:hover {
      background-color: #333333;
      color: #fff;
    }
    
  
    
    .contact100-btn-show {
      color: #fff;
      font-size: 39px;
    
      position: fixed;
      z-index: -1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    
    .contact100-btn-show::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -2;
      width: 100%;
      height: 100%;
      background-color: rgb(103, 148, 54);
      border-radius: 50%;
    
      top: 0;
      left: 0;
      
      box-shadow: 0 10px 30px 0px rgba(17, 126, 236, 0.5);
      -moz-box-shadow: 0 10px 30px 0px rgba(17, 126, 236, 0.5);
      -webkit-box-shadow: 0 10px 30px 0px rgba(17, 126, 236, 0.5);
      -o-box-shadow: 0 10px 30px 0px rgba(17, 126, 236, 0.5);
      -ms-box-shadow: 0 10px 30px 0px rgba(17, 126, 236, 0.5);
    
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    
      -webkit-animation: beatbtn 0.9s ease-in-out infinite;
      animation: beatbtn 0.9s ease-in-out infinite;
    }
    
    
    @keyframes beatbtn {
      0% {
        background-color: rgba(255, 75, 90, 1);
        transform-origin: center;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    
      50% {
        background-color: rgba(255, 75, 90, 0.8);
        transform-origin: center;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  
  
    
  
  
  /*
  * ==========================================
  * CONTACT FORM ENDS
  * ==========================================
  */
  /*

                /*CAMBIO DE TAMAÑO*/

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* quienes somos */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clientes */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: rgb(239, 228, 228);
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}