:root{
    --colorPrimario: #8c7761;
    --background-Footer-Navbar:#5c4c39;
}
.header{
 
    background-color: rgb(137, 103, 77); /*rgb(164, 141, 107);*/
    color: white;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header a{
    color:rgb(255, 219, 180);
    text-decoration: none;/*Quitar subrayado*/
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;/*para que se vaya uno a la izq y otro a la derecha si son flex*/
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: rgba(161, 131, 94, 0.979);
}

.menu_bar{
    display: none;
    
}

/*.textos{
    position:static;
    padding: 100px;
    border: 30px;
    top:700px;
    
}*/

/*--PANTALLAS DE 800PX O MENOS--------------------------------------------------------------------------------------------------------------*/
@media  screen and (max-width:800px) {
    body{
        padding-top:80px;
    }

    .menu_bar{
        display:block;
        width: 50%;
        position: fixed;
        top: 8px;
        background-color: var(--background-Footer-Navbar);

    }

    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: aliceblue;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }    

    .menu_bar span{
        float: right;
        font-size: 30px;
    }

    .header nav{
        width: 80%;
        height: calc(100%-80px);
        position: fixed;
        left: 0;
        margin: 0;
        overflow: scroll;
    }
    header nav ul li{
        display: block;
        
    }
}

/*--PANTALLAS DE 300PX O MENOS--------------------------------------------------------------------------------------------------------------*/
@media  screen and (max-width:300px){
    body{
        padding-top:80px;
    }

    .menu_bar{
        display:block;
        width: 50%;
        position: fixed;
        top: 8px;
        background-color: var(--background-Footer-Navbar);

    }

    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: aliceblue;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }    

    .menu_bar span{
        float: right;
        font-size: 15px;
    }

    .header nav{
        width: 80%;
        height: calc(100%-80px);
        position: fixed;
        left: 0;
        margin: 0;
        overflow: scroll;
    }
}

/* -------------------------SLIDER------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
  width: 100%;
  height: 900px;
  overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    top: 0px;
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}