<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="shortcut icon" href="../img/logo1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/PaginaPrincipal.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/PerfilUsuario.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Compra</a>
            <a href="#">Vender</a>
            <a href="#">Cotizar</a>
            <a href="#">Nombre</a>
            <a href="Login.html" id="Login-btn" class="link">Login</a>
        </nav>
        
        <img  class="Logo" src="../img/NOMBRE.png" width="180" height="75" alt="Imagen">
    </header>
    <main>
        <div class="container">
            <img src="../img/logo1.png" width="250" height="250" alt="Logotipo" id="Fotoperfil">
            <div class="datos personales" name="">
                <h4>Rol: Cliente </h4>
                <h1>Nombre completo: Ramon Valdez</h1>
                <h2>Usuario: Ramonsito64</h2>
                <h3>Email: Ramonsito@promail.com</h3>
                <h3>Sexo: Masculino</h3>
                <h3>Fecha de Nacimiento: 28/12/00</h3>
                <h4>Eres miembro desde: 02/08/2020</h4>
            </div>
            <button class="btn btn-success" >Cambiar datos</button>
        </div>
    </main>
</body>
</html>