<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="UserPopup">
        <h1>Regístrate</h1>
        <img src="../img/logo1.png" width="250" height="250" alt="Logotipo" id="LogoRegistro">

        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <label for="FechaNacimiento" class="title">Selecciona tu Foto de Usuario:</label>
                <input type="File" name="ImagenUsuario">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre" name="Nombre">
                <input type="text" placeholder="Apellido Paterno" name="ApPat" class="subtext2">
                <input type="text" placeholder="Apellido Materno" name="ApMat" class="subtext2">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-id-badge icon"></i>
                <input type="text" placeholder="Usuario" name="UsuarioRegister">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" name="PasswordReg" id="PasswordReg">
                <input type="password" placeholder="Contraseña" class="subtext1" name="PasswordReg2">

            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>

                <label for="Roles" class="title">Rol:</label>
                <select name="Rol" id="Rol">
                    <option value="0" select>Select</option>
                    <option value="1">Vendedor</option>
                    <option value="2">Cliente</option>
                    <option value="3">Administrador</option>
                </select>

                <label for="Sexo" class="title">Sexo:</label>
                <select name="Sexo" id="Sexo">
                    <option value="0" select>Select</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>

                <label for="Tipo" class="title">Tipo:</label>
                <select name="Tipo" id="Tipo">
                    <option value="0" select>Select</option>
                    <option value="Publico">Publico</option>
                    <option value="Privado">Privado</option>
                </select>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="email" placeholder="Email" name="Email">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <label for="FechaNacimiento" class="title">Fecha de Nacimiento:</label>
                <input type="date" id="FNac" name="FechaNacimiento" value="" min="1900-01-01" max="2004-12-31">
            </div>
            
            <input type="submit" value="Registrate" class="button" id="BotonRegistro">
    </form>
</body>
</html>