<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/PaginaPrincipal.css">
    <link rel="stylesheet" href="../css/RegistroZared.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

</head>

<body>
    <form class="formulario form-grande" action="" method="post">

        <h1>Regístrate</h1>
        <img src="../img/logo1.png" width="250" height="250" alt="Logotipo" id="LogoRegistro">

        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <label for="FechaNacimiento" class="title">Selecciona tu Foto de Usuario:</label>
                <input type="File" name="ImagenUsuario">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre" name="Nombre">
                <input type="text" placeholder="Apellido Paterno" name="ApPat" class="subtext2">
                <input type="text" placeholder="Apellido Materno" name="ApMat" class="subtext2">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-id-badge icon"></i>
                <input type="text" placeholder="Usuario" name="UsuarioRegister">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" name="PasswordReg" id="PasswordReg">
                <input type="password" placeholder="Contraseña" class="subtext1" name="PasswordReg2">

            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>

                <label for="Roles" class="title">Rol:</label>
                <select name="Rol" id="Rol">
                    <option value="0" select>Select</option>
                    <option value="Cliente">Cliente</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="Administrador">Administrador</option>
                </select>

                <label for="Sexo" class="title">Sexo:</label>
                <select name="Sexo" id="Sexo">
                    <option value="0" select>Select</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="email" placeholder="Email" name="Email">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <label for="FechaNacimiento" class="title">Fecha de Nacimiento:</label>
                <input type="date" name="FechaNacimiento" min="1900-01-01" max="2004-12-31">
            </div>

            <input type="submit" value="Registrate" class="button" id="BotonRegistro">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿Ya tienes una cuenta?<a class="link" href="Login.html">Iniciar Sesion</a> <a class="link"
                    href="../index.html"> Cerrar</a></p>
        </div>
    </form>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>(81)175 648 85</p>
                <p>(81)289 391 32</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>zaredmaldonado@gmail.com</p>
                <p>fer_mariafernanda@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Información</h4>
                <p>Esta compañia se dedica a dar facilidad para los usuarios</p>
                <p>a sus ventas, compras, cotizaciones, etc., les da una forma</p>
                <p>más sencilla para llevar sus negocios.</p>

            </div>
        </div>
        <h2 class="titulo-final">Copyright ©MAZED Company 2022. All Right Reserved By Zared Maldonado | Fernanda
            Mondragon</h2>
    </footer>

    <script src="../Script/jquery.js"></script>
    <script src="../Script/plugins/jqueryvalidate.js"></script>
    <script src="../Script/Registro_Validator.js"></script>
</body>

</html>